pkgbase = avash
	pkgdesc = Gestionnaire de connexions SSH et RDP, natif, rapide, sécurisé (Tauri 2 + Rust)
	pkgver = 0.12.2
	pkgrel = 1
	url = https://github.com/AdrienAvalon/avash
	arch = x86_64
	license = AGPL-3.0-or-later
	makedepends = cargo
	makedepends = nodejs
	makedepends = npm
	makedepends = pkgconf
	depends = webkit2gtk-4.1
	depends = gtk3
	depends = librsvg
	depends = gcc-libs
	depends = glibc
	optdepends = gnome-keyring: trousseau des mots de passe (Secret Service)
	optdepends = kwallet: trousseau des mots de passe (Secret Service)
	optdepends = putty: conversion des clés .ppk lors de l import PuTTY
	options = !lto
	source = avash-0.12.2.tar.gz::https://github.com/AdrienAvalon/avash/archive/refs/tags/v0.12.2.tar.gz
	sha256sums = 8f386128a96627b499c608c110899ce2f75dbfe211d8c625e2c4a6d72cf052c1

pkgname = avash
