pkgbase = avash
	pkgdesc = Gestionnaire de connexions SSH et RDP, natif, rapide, sécurisé (Tauri 2 + Rust)
	pkgver = 0.9.0
	pkgrel = 1
	url = https://github.com/AdrienAvalon/avash
	arch = x86_64
	license = AGPL-3.0-or-later
	makedepends = cargo
	makedepends = nodejs
	makedepends = npm
	makedepends = pkgconf
	depends = webkit2gtk-4.1
	depends = gtk3
	depends = librsvg
	depends = gcc-libs
	depends = glibc
	optdepends = gnome-keyring: trousseau des mots de passe (Secret Service)
	optdepends = kwallet: trousseau des mots de passe (Secret Service)
	optdepends = putty: conversion des clés .ppk lors de l import PuTTY
	options = !lto
	source = avash-0.9.0.tar.gz::https://github.com/AdrienAvalon/avash/archive/refs/tags/v0.9.0.tar.gz
	sha256sums = c3f0321d62daed6bc0ba9b997ca49edcb8cf37202c6fdc737650a2370d8d0527

pkgname = avash
