pkgbase = avash
	pkgdesc = Gestionnaire de connexions SSH et RDP, natif, rapide, sécurisé (Tauri 2 + Rust)
	pkgver = 0.8.0
	pkgrel = 1
	url = https://github.com/AdrienAvalon/avash
	arch = x86_64
	license = AGPL-3.0-or-later
	makedepends = cargo
	makedepends = nodejs
	makedepends = npm
	makedepends = pkgconf
	depends = webkit2gtk-4.1
	depends = gtk3
	depends = librsvg
	depends = gcc-libs
	depends = glibc
	optdepends = gnome-keyring: trousseau des mots de passe (Secret Service)
	optdepends = kwallet: trousseau des mots de passe (Secret Service)
	optdepends = putty: conversion des clés .ppk lors de l import PuTTY
	options = !lto
	source = avash-0.8.0.tar.gz::https://github.com/AdrienAvalon/avash/archive/refs/tags/v0.8.0.tar.gz
	sha256sums = 9b479493bc3f71329d722f09fafab8f14379b22ec5df6a0a01c6da0a8bf746b9

pkgname = avash
